<div class="row">
  <div class="medium-12 columns">
    <h1>Reviews#new</h1>
    <p>Find me in app/views/reviews/new.html.erb</p>
  </div>
</div>

<div class="row">
  <div class="medium-3 columns">

    <%= form_for @review do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :rating %>
      <%= f.number_field :rating, max: 5 %>

      

      <%= text_field_tag "review[rating]" %>
      <%= text_field_tag "review[body]" %>
      <%= hidden_field_tag "review[pub_id]", params[:pub_id] %>

      <%= f.submit %>
    <% end %>
  </div>
</div>

